NODE_ENV=YOUR_ENVIRONMENT

# Set to false to disable SSL for non-SSL/local connections (auto-detected as false for localhost)
DB_SSL=SET_BOOLEAN

DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE=YOUR_DB_NAME

FRONTEND_URL=YOUR_FRONTEND_URL
PRIVATE_SEED_DATA_URL=YOUR_INV_DATA_JSON_LINK