NODE_ENV=YOUR_ENVIRONMENT
APP_ENV=YOUR_ENVIRONMENT

# Authentication
REQUIRE_AUTH=SET_BOOLEAN
FIREBASE_SERVICE_ACCOUNT_BASE64=BASE64_CONVERTED_SERVICE_ACCOUNT_CONFIG

# Set to false to disable SSL for non-SSL/local connections (auto-detected as false for localhost)
DB_SSL=SET_BOOLEAN
DB_POOL_MAX=SET_NUMBER
DATABASE_URL=YOUR_DATABASE_URL
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE=YOUR_DB_NAME
RUN_MIGRATIONS=SET_BOOLEAN 

FRONTEND_URLS=YOUR_FRONTEND_URLS
